$border-radius: 12px;
$clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%, 0 8%);

$color-blue: #0099dc;
$color-blue-light: #2ea8e6;
$color-pink: #d91667;
$color-pink-light: #e52e7a;

.card-col {
  width: 33.33%;
  padding: 0 40px;
  margin-bottom: 50px;

  @media (max-width: 1199px) {
    width: 50%;
    padding: 0 20px;
  }

  @media (max-width: 767px) {
    width: 100%;
    padding: 0 15px;
  }
}

.card {
  background-color: $color-blue;
  padding: 4px;
  height: 480px;
  margin: 0 auto 14px;
  max-width: 320px;
  clip-path: $clip-path;
  border-radius: $border-radius;
  display: block;
  transition: 0.5s;

  &.donthover {
    &:hover {
      .round-card {
        background-color: $color-blue;
      }

      background-color: $color-blue;
    }

    &.selected {
      background-color: $color-pink;

      .round-card {
        background-color: $color-pink;
      }

      &:hover {
        .round-card {
          background-color: $color-pink;
        }

        background-color: $color-pink;
      }
    }
  }

  &:hover {
    .round-card {
      background-color: $color-blue-light;
    }

    background-color: $color-blue-light;
  }

  &.selected {
    background-color: $color-pink;

    .round-card {
      background-color: $color-pink;
    }

    &:hover {
      .round-card {
        background-color: $color-pink-light;
      }

      background-color: $color-pink-light;
    }
  }

  &.disabled {
    pointer-events: none;
    user-select: none;
    background-color: #b3b3b3;

    .card__inner {
      opacity: 0.5;
    }

    .card__toptext {
      color: #b3b3b3;
    }

    .card__title {
      color: #b3b3b3;
    }

    .card__subtitle {
      color: #b3b3b3;
    }

    .card__thin-text {
      color: #b3b3b3;
    }

    .round-card {
      background-color: #b3b3b3;
    }
  }

  &__inner {
    background-color: #f2f2f2;
    position: relative;
    background-image: url(/static/img/cat.png);
    background-position: -29px 201px;
    background-size: 120%;
    background-repeat: no-repeat;
    height: 100%;
    clip-path: $clip-path;
    padding: 18px 44px 18px 44px;
    border-radius: $border-radius;
  }

  &__toptext {
    font-size: 16px;
    color: #666666;
    margin-bottom: 4px;
  }

  &__title {
    font-size: 48px;
    font-weight: bold;
    color: #000000;
  }

  &__subtitle {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 12px;
  }

  &__thin-text {
    color: #666666;
    font-size: 14px;
    line-height: 16px;
  }
}

.round-card {
  position: absolute;
  bottom: 12px;
  right: 12px;
  background-color: $color-blue;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  transition: 0.5s;

  &__num {
    font-size: 42px;
    line-height: 44px;
    margin-bottom: -2px;
  }

  &__text {
    font-size: 20px;
  }
}

.card-botline {
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  span {
    color: $color-blue;
    text-decoration: underline;
    text-decoration-style: dashed;
    cursor: pointer;
  }

  &--notavailible {
    color: #ffff66;
  }
}
