$border-radius: 12px;
$clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%, 0 8%);

.card-col {
  width: 33.33%;
  padding: 0 40px;
  margin-bottom: 50px;

  @media (max-width: 1199px) {
    width: 50%;
    padding: 0 20px;
  }

  @media (max-width: 767px) {
    width: 100%;
    padding: 0 15px;
  }
}

.card {
  background-color: #0099dc;
  padding: 4px;
  height: 480px;
  margin: 0 auto 14px;
  max-width: 320px;
  clip-path: $clip-path;
  border-radius: $border-radius;
  display: block;
  transition: 0.25s;

  &:hover {
    .round-card {
      background-color: #2ea8e6;
    }

    background-color: #2ea8e6;
  }

  &.selected {
    background-color: #d91667;

    .round-card {
      background-color: #d91667;
    }

    &:hover {
      .round-card {
        background-color: #e52e7a;
      }

      background-color: #e52e7a;
    }
  }

  &.disabled {
    pointer-events: none;
    user-select: none;
    background-color: #b3b3b3;

    .card__inner {
      opacity: 0.5;
    }

    .card__toptext {
      color: #b3b3b3;
    }

    .card__title {
      color: #b3b3b3;
    }

    .card__subtitle {
      color: #b3b3b3;
    }

    .card__thin-text {
      color: #b3b3b3;
    }

    .round-card {
      background-color: #b3b3b3;
    }
  }

  &__inner {
    background-color: #f2f2f2;
    position: relative;
    background-image: url("/cat.png");
    background-position: -29px 201px;
    background-size: 120%;
    background-repeat: no-repeat;
    height: 100%;
    clip-path: $clip-path;
    padding: 18px 44px 18px 44px;
    border-radius: $border-radius;
  }

  &__toptext {
    font-size: 16px;
    color: #666666;
    margin-bottom: 6px;
  }

  &__title {
    font-size: 48px;
    font-weight: bold;
    color: #000000;
  }

  &__subtitle {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 12px;
  }

  &__thin-text {
    color: #666666;
    font-size: 14px;
    line-height: 16px;
  }
}

.round-card {
  position: absolute;
  bottom: 12px;
  right: 12px;
  background-color: #0099dc;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  transition: 0.25s;

  &__num {
    font-size: 40px;
    line-height: 0.8;
  }

  &__text {
    font-size: 20px;
  }
}

.card-botline {
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  a {
    color: #1698d9;
    text-decoration: underline;
    text-decoration-style: dashed;
  }
}
