.main-content {
  background-image: url(/static/img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 36px;
  margin-bottom: 32px;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  font-family: "Exo2.0", sans-serif;
}

.cards {
  justify-content: center;
  margin: 0 -40px;

  @media (max-width: 1199px) {
    margin: 0 -20px;
  }

  @media (max-width: 767px) {
    margin: 0 -15px;
  }
}
