.main-content {
  background-image: url("/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 36px;
  margin-bottom: 14px;
  color: #ffffff;
  text-align: center;
}

.cards {
  justify-content: center;
  margin: 0 -40px;
}
